*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

:root {
    --considered-screen-width: 100vw;
    --considered-margin-left: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Configura a página para Desktops. ////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 431px) {
    
    :root {
        --considered-screen-width: 430px;
        --considered-margin-left: calc(50vw - (var(--considered-screen-width)/2));
    }

    .Botão-Tela-Cheia {
        display: none;
    }

    #Container-Vídeo-Principal{
        margin-bottom: 40px;
    }

    #Container-Vídeo-Depoimentos{
        margin-bottom: 40px;
    }

}

@media (max-width: 430px) {

    .Botão-Tela-Cheia {
        display: flex;
    }

}

/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////// Seção Abertura de Turma ///////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Container-Externo-Contagem-Regressiva{
    padding-top: 40px;
    background: #000000;
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
    text-align: center;
}

#Manchete-Contagem-Regressiva{
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
}

#Submanchete-Contagem-Regressiva{
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 10px;
}

#Container-Interno-Contagem-Regressiva{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

#Container-Interno-Dias-Contagem-Regressiva{
    color: #ffffff;
    background-color: #292929;
    height: 80px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

#Manchete-Interna-Dias-Contagem-Regressiva{
    color: #ffffff;
    margin-top: 5px;
    font-size: 14px;
}

#Container-Interno-Horas-Contagem-Regressiva{
    color: #ffffff;
    background-color: #292929;
    height: 80px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid #ffffff;
}

#Manchete-Interna-Horas-Contagem-Regressiva{
    color: #ffffff;
    margin-top: 5px;
    font-size: 14px;
}

#Container-Interno-Minutos-Contagem-Regressiva{
    color: #ffffff;
    background-color: #292929;
    height: 80px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #ffffff;
}

#Manchete-Interna-Minutos-Contagem-Regressiva{
    color: #ffffff;
    margin-top: 5px;
    font-size: 14px;
}

#Container-Atenção{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#Manchete-Atenção{
    color: #ffffff;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: 700;
}

.Triângulos-Exclamações{
    margin-top: 0px;
    fill: #e0c40e;
    stroke: #000000;
}

.Exclamações{
    text-align: center;
    color: #000000;
    margin-top: -30px;
    font-size: 20px;
}

#Manchete-Bônus{
    color: #ffffff;
    font-size: 22px;
}

#Explicação-Bônus{
    color: #ffffff;
    font-size: 22px;
}

#Imagem-Bônus{
    display: block;
    width: calc(var(--considered-screen-width));
    margin-left: var(--considered-margin-left);
}

#Detalhamento-Bônus{
    color: #ffffff;
    text-align: center;
    background-color: #790D25;
    width: calc(var(--considered-screen-width));
    margin-left: var(--considered-margin-left);
    padding-bottom: 20px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// Seção-Inicial //////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-Inicial{
    padding-top: 60px;
    padding-bottom: 20px;
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}

#Ivy-Escola-Gestão{
    text-align: center;
    font-size: 14px;
    margin-bottom: 40px;
    color: #790D25;
}

#Manchete-Seção-Inicial{
    text-align: center;
    color: #790D25;
    font-size: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--considered-screen-width) * 0.90);
}

.Frases-Seção-Inicial{
    text-align: center;
    color: #790D25;
    font-size: 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--considered-screen-width) * 0.90);
}

.Números-Seção-Inicial{
    text-align: center;
    padding: auto;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #790D25;
    align-content: center; /*Microsoft Edge*/
    -webkit-align-content: center; /*Google Chrome*/
}


/*/////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// Seção-Vídeo ////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-Vídeo{
    padding-top: 40px;
    padding-bottom: 20px;
    background: linear-gradient(165deg, #000000, #790D25);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}

.Frases-Seção-Vídeo{
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--considered-screen-width) * 0.95);
}

#Container-Vídeo-Principal{
    display: block;
    width: calc(var(--considered-screen-width) * 0.90);
    height: calc(var(--considered-screen-width) * 0.50634);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#Vídeo-Principal{
    display: block;
    width: calc(var(--considered-screen-width) * 0.90);
    height: calc(var(--considered-screen-width) * 0.50634);    
}

.Botão-Tela-Cheia{
    background: linear-gradient(165deg, #fff, #ddd);
    width: 160px;
    padding: 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 30px;
}

.Imagem-Tela-Cheia{
    height: 35px;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.Texto-Tela-Cheia{
    color: #000000;
    font-size: 16px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Seção 1: Container Chamada //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-1{
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}

#Container-Externo-Seção-1{
    display:block;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.Chamada-Seção-1{
    display: flex;
    width: calc(var(--considered-screen-width) * 0.85);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Número-Chamada-Seção-1{
    font-size: 64px;
    color: #790D25;
    margin-right: 20px;
}

.Texto-Chamada-Seção-1{
    font-size: 22px;
    color: #790D25;
    padding-top: 14px;
}

#Texto-Botão-Externo-Abertura-Seção-1{
    background-color: #0aa15b;
    font-size: 14px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #f2f2f2;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    animation: Pulso-Botão-Externo-Abertura-Seção-1 3s ease-out infinite;
}

@keyframes Pulso-Botão-Externo-Abertura-Seção-1 {
    
    0% {
      box-shadow: 0 0 0px 0 #0aa15b;
    }
    
    25% {
      box-shadow: 0 0 0px 5px #489672;
    }
    
    50% {
      box-shadow: 0 0 0px 10px #d0d0d0;
    }

    50.001% {
        box-shadow: 0 0 0px 0 #0aa15b;
      }

    75% {
        box-shadow: 0 0 0px 5px #489672;
    }

    100% {
        box-shadow: 0 0 0px 10px #d0d0d0;
    }

}

#Seta-Chamada-Externa-Seção-1{
    fill: #790D25;
    stroke: #790D25;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////// Seção 1: Container Interno ////////////////////////////////*/

#Container-Interno-Seção-1{
    display:none;
}

#Container-Imagem-Cargos-Inicial{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Cargos-Inicial{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 40px;
    margin-bottom: 40px;
}

#Texto-Interno-Grande-Branco-1-1{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-1-2{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Container-Imagem-Gestão-Coração-Administração{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Gestão-Coração-Administração{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 0px;
    margin-bottom: 40px;
}

#Container-Imagem-Gestão-Ciência-Central{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Gestão-Ciência-Central{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 60px;
    margin-bottom: -20px;
}

#Container-Imagem-Sistema-de-Gestão{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Sistema-de-Gestão{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 40px;
    margin-bottom: 20px;
}

#Container-Imagem-Equação-Fundamental{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Equação-Fundamental{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-bottom: 40px;
}

#Container-Imagem-Radical-Simplicidade{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Radical-Simplicidade{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 40px;
    margin-bottom: 40px;
}

#Container-Imagem-PDCA{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-PDCA{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 0px;
    margin-bottom: 40px;
}

#Container-Imagem-SDCA{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-SDCA{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 40px;
    margin-bottom: 40px;
}

#Texto-Interno-Grande-Branco-1-3{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-1-4{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-1-5{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Subseção-Cadastro-1{
    width: calc(var(--considered-screen-width) * 0.90);
    height: auto;
    background: linear-gradient(180deg, #ddd 0%, #fff 70%, #fff 100%);
    margin-top: 60px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
}

#Seta-Fechamento-Seção-1{
    display: flex;
    fill: #fff;
    stroke: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #790D25;
    width: 80px;
    height: 30px;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
}


/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Seção 2: Container Chamada //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-2{
    background: linear-gradient(165deg, #790D25, #000000);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}

#Container-Externo-Seção-2{
    display:block;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.Chamada-Seção-2{
    display: flex;
    width: calc(var(--considered-screen-width) * 0.85);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Número-Chamada-Seção-2{
    font-size: 64px;
    color: #fff;
    margin-right: 20px;
}

.Texto-Chamada-Seção-2{
    font-size: 22px;
    color: #fff;
    padding-top: 14px;
}

#Texto-Botão-Externo-Abertura-Seção-2{
    background-color: #0aa15b;
    font-size: 14px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    animation: Pulso-Botão-Externo-Abertura-Seção-2 3s ease-out infinite;
}

@keyframes Pulso-Botão-Externo-Abertura-Seção-2 {
    
    0% {
      box-shadow: 0 0 0px 0 #0aa15b;
    }
    
    25% {
      box-shadow: 0 0 0px 5px #489672;
    }
    
    50% {
      box-shadow: 0 0 0px 10px #3a3a3a;
    }

    50.001% {
        box-shadow: 0 0 0px 0 #0aa15b;
      }

    75% {
        box-shadow: 0 0 0px 5px #489672;
    }

    100% {
        box-shadow: 0 0 0px 10px #3a3a3a;
    }

}

#Seta-Chamada-Externa-Seção-2{
    fill: #fff;
    stroke: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////// Seção 2: Container Interno ////////////////////////////////*/

#Container-Interno-Seção-2{
    display:none;
}

#Texto-Interno-Grande-Branco-2-1{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Imagem-Aspas-Superiores{
    width: 40px;
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-top: 60px;
    margin-bottom: 20px;
}

#Texto-Interno-Grande-Branco-2-2{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Imagem-Aspas-Inferiores{
    width: 40px;
    margin-left: calc((var(--considered-screen-width) * 0.95) - 40px);
    margin-top: 20px;
    margin-bottom: 60px;
}

#Texto-Interno-Grande-Branco-2-3{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-2-4{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}


#Texto-Interno-Grande-Branco-2-5{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Subseção-Cadastro-2{
    width: calc(var(--considered-screen-width) * 0.90);
    height: auto;
    background: linear-gradient(180deg, #ddd 0%, #fff 70%, #fff 100%);
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
}

#Seta-Fechamento-Seção-2{
    display: flex;
    fill: #fff;
    stroke: #fff;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #790D25;
    width: 80px;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
}


/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Seção 3: Container Chamada //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-3{
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}

#Container-Externo-Seção-3{
    display:block;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.Chamada-Seção-3{
    display: flex;
    width: calc(var(--considered-screen-width) * 0.85);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Número-Chamada-Seção-3{
    font-size: 64px;
    color: #790D25;
    margin-right: 20px;
}

.Texto-Chamada-Seção-3{
    font-size: 22px;
    color: #790D25;
    padding-top: 14px;
}

#Texto-Botão-Externo-Abertura-Seção-3{
    background-color: #0aa15b;
    font-size: 14px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #f2f2f2;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    animation: Pulso-Botão-Externo-Abertura-Seção-3 3s ease-out infinite;
}

@keyframes Pulso-Botão-Externo-Abertura-Seção-3 {
    
    0% {
      box-shadow: 0 0 0px 0 #0aa15b;
    }
    
    25% {
      box-shadow: 0 0 0px 5px #489672;
    }
    
    50% {
      box-shadow: 0 0 0px 10px #d0d0d0;
    }

    50.001% {
        box-shadow: 0 0 0px 0 #0aa15b;
      }

    75% {
        box-shadow: 0 0 0px 5px #489672;
    }

    100% {
        box-shadow: 0 0 0px 10px #d0d0d0;
    }

}

#Seta-Chamada-Externa-Seção-3{
    fill: #790D25;
    stroke: #790D25;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////// Seção 3: Container Interno ////////////////////////////////*/

#Container-Interno-Seção-3{
    display:none;
}

#Container-Imagem-Percentual{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Percentual{
    width: calc(var(--considered-screen-width) * 0.90);
    margin-top: 40px;
    margin-bottom: 0px;
}

#Texto-Interno-Grande-Vermelho-3-1{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-3-2{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Container-Imagem-Ranking-Ivies{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Ranking-Ivies{
    width: calc(var(--considered-screen-width) * 0.80);
    margin-top: 40px;
    margin-bottom: 40px;
}

#Texto-Interno-Grande-Branco-3-3{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Vermelho-3-4{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-3-5{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-3-6{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Subseção-Cadastro-3{
    width: calc(var(--considered-screen-width) * 0.90);
    height: auto;
    background: linear-gradient(180deg, #ddd 0%, #fff 70%, #fff 100%);
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 30px;
}

#Seta-Fechamento-Seção-3{
    display: flex;
    fill: #fff;
    stroke: #fff;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #790D25;
    width: 80px;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
}

/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////// Seção 4: Container Chamada //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-4{
    background: linear-gradient(165deg, #790D25, #000000);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}

#Container-Externo-Seção-4{
    display:block;
    padding-top: 20px;
    padding-bottom: 10px;
    cursor: pointer;
}

.Chamada-Seção-4{
    display: flex;
    width: calc(var(--considered-screen-width) * 0.85);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.Número-Chamada-Seção-4{
    font-size: 64px;
    color: #fff;
    margin-right: 10px;
}

.Texto-Chamada-Seção-4{
    font-size: 22px;
    color: #fff;
    padding-top: 14px;
}

#Texto-Botão-Externo-Abertura-Seção-4{
    background-color: #0aa15b;
    font-size: 14px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    animation: Pulso-Botão-Externo-Abertura-Seção-4 3s ease-out infinite;
}

@keyframes Pulso-Botão-Externo-Abertura-Seção-4 {
    
    0% {
      box-shadow: 0 0 0px 0 #0aa15b;
    }
    
    25% {
      box-shadow: 0 0 0px 5px #489672;
    }
    
    50% {
      box-shadow: 0 0 0px 10px #3a3a3a;
    }

    50.001% {
        box-shadow: 0 0 0px 0 #0aa15b;
      }

    75% {
        box-shadow: 0 0 0px 5px #489672;
    }

    100% {
        box-shadow: 0 0 0px 10px #3a3a3a;
    }

}

#Seta-Chamada-Externa-Seção-4{
    fill: #fff;
    stroke: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/*/////////////////////////// Seção 4: Container Interno ////////////////////////////////*/

#Container-Interno-Seção-4{
    display:none;
}

#Texto-Interno-Grande-Branco-4-1{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-4-2{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Texto-Interno-Grande-Branco-4-3{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Container-Imagem-Gauss{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Gauss{
    width: calc(var(--considered-screen-width) * 0.80);
}

#Container-Imagem-Feedback{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-left: calc(var(--considered-screen-width) * 0.05);
}

#Imagem-Feedback{
    width: calc(var(--considered-screen-width) * 0.80);
}

#Texto-Interno-Grande-Branco-4-4{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Container-Vídeo-Depoimentos{
    display: block;
    width: calc(var(--considered-screen-width) * 0.90);
    height: calc(var(--considered-screen-width) * 0.50634);
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#Vídeo-Depoimentos{
    display: block;
    width: calc(var(--considered-screen-width) * 0.90);
    height: calc(var(--considered-screen-width) * 0.50634);    
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

#Container-Externo-Subseção-4-1{
    display: block;
}

#Seta-Chamada-Externa-Subseção-4-1{
    fill: #790D25;
    stroke: #790D25;
    justify-content: center;
    display: flex;
    align-items: center;
}

#Container-Interno-Subseção-4-1{
    display: none;
}

.Sub-Texto-Interno-Grande-Vermelho-4-1{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Container-Imagem-Cargos-Percentuais{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Imagem-Cargos-Percentuais{
    width: calc(var(--considered-screen-width) * 0.82);
}

#Seta-Fechamento-Subseção-4-1{
    display: flex;
    fill: #790D25;
    stroke: #790D25;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #fff;
    width: 80px;
    box-shadow: 0px 1px 5px #790D25;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#Container-Externo-Subseção-4-2{
    display: block;
}

#Seta-Chamada-Externa-Subseção-4-2{
    fill: #790D25;
    stroke: #790D25;
    justify-content: center;
    display: flex;
    align-items: center;
}

#Container-Interno-Subseção-4-2{
    display: none;
}

.Sub-Texto-Interno-Grande-Vermelho-4-2{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Imagem-Formações-Percentuais{
    width: calc(var(--considered-screen-width) * 0.82);
    margin-left: calc(var(--considered-screen-width) * 0.04);
}

#Seta-Fechamento-Subseção-4-2{
    display: flex;
    fill: #790D25;
    stroke: #790D25;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #fff;
    width: 80px;
    box-shadow: 0px 1px 5px #790D25;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#Container-Externo-Subseção-4-3{
    display: block;
}

.Sub-Texto-Interno-Grande-Vermelho-4-3{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Seta-Chamada-Externa-Subseção-4-3{
    fill: #790D25;
    stroke: #790D25;
    justify-content: center;
    display: flex;
    align-items: center;
}

#Container-Interno-Subseção-4-3{
    display: none;
}

#Imagem-Áreas-de-Atuação{
    width: calc(var(--considered-screen-width) * 0.82);
    margin-left: calc(var(--considered-screen-width) * 0.04);
}

.Sub-Texto-Interno-Grande-Vermelho-4-4{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Imagem-Porte-Empresas{
    width: calc(var(--considered-screen-width) * 0.82);
    margin-left: calc(var(--considered-screen-width) * 0.04);
    margin-top: 20px;
    margin-bottom: 40px;
}

#Imagem-Maiores-Empregadoras{
    width: calc(var(--considered-screen-width) * 0.82);
    margin-left: calc(var(--considered-screen-width) * 0.04);
    margin-top: 40px;
}

#Seta-Fechamento-Subseção-4-3{
    display: flex;
    fill: #790D25;
    stroke: #790D25;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #fff;
    width: 80px;
    box-shadow: 0px 1px 5px #790D25;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

#Texto-Interno-Grande-Vermelho-4-5{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: -80px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Botão-Cronograma{
    height: 60px;
    width: calc(var(--considered-screen-width) * 0.60);
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    margin-left: calc(var(--considered-screen-width) * 0.20);
    margin-right: calc(var(--considered-screen-width) * 0.20);
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    background-color: #790D25;
}

#Texto-Interno-Grande-Branco-4-6{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}   

#Botão-Ementa{
    height: 60px;
    width: calc(var(--considered-screen-width) * 0.60);
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    margin-left: calc(var(--considered-screen-width) * 0.20);
    margin-right: calc(var(--considered-screen-width) * 0.20);
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    background-color: #790D25;
}

#Botão-Bibliografia{
    height: 60px;
    width: calc(var(--considered-screen-width) * 0.60);
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    margin-left: calc(var(--considered-screen-width) * 0.20);
    margin-right: calc(var(--considered-screen-width) * 0.20);
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    background-color: #790D25;
}

#Botão-Softwares{
    height: 60px;
    width: calc(var(--considered-screen-width) * 0.60);
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    margin-left: calc(var(--considered-screen-width) * 0.20);
    margin-right: calc(var(--considered-screen-width) * 0.20);
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    background-color: #790D25;
}

#Texto-Interno-Grande-Vermelho-4-6{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 28px;
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

#Container-Condições-Comerciais-1{
    display: flex;
    height: 80px;
    background: linear-gradient(135deg, #790D25, black);
    width: calc(var(--considered-screen-width) * 0.90);
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-right: calc(var(--considered-screen-width) * 0.05);
    margin-top: 40px;
    margin-bottom: 0px;
    color: #fff;
    border-radius: 20px;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

#Container-Condições-Comerciais-2{
    display: flex;
    height: 80px;
    background: linear-gradient(135deg, #790D25, black);
    width: calc(var(--considered-screen-width) * 0.90);
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-right: calc(var(--considered-screen-width) * 0.05);
    margin-top: 20px;
    margin-bottom: 0px;
    color: #fff;
    border-radius: 20px;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

#Container-Condições-Comerciais-3{
    display: flex;
    height: 80px;
    background: linear-gradient(135deg, #790D25, black);
    width: calc(var(--considered-screen-width) * 0.90);
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-right: calc(var(--considered-screen-width) * 0.05);
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fff;
    border-radius: 20px;
    align-items: center;
    padding-left: auto;
    padding-right: auto;
}

#Símbolo-Cifrão{
    text-align: center;
    padding: auto;
    color: #790D25;
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-right: calc(var(--considered-screen-width) * 0.05);
    border-radius: 20px;
    background-color: #fff;
    padding-top: 6px;
}

#Preço-Texto{
    width: calc(var(--considered-screen-width) * 0.70);
}

.Texto-Condições-Comerciais{
    color: #fff;
    font-size: 24px;
}

#Texto-Condições-Comerciais-Pequeno{
    font-size: 18px;
}

#Símbolo-Relógio{
    text-align: center;
    padding: auto;
    color: #790D25;
    font-size: 20px;
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-right: calc(var(--considered-screen-width) * 0.05);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    padding-top: 2px;
    padding-left: 3px;
}

#Símbolo-Garantia{
    text-align: center;
    padding: auto;
    color: #790D25;
    font-size: 20px;
    margin-left: calc(var(--considered-screen-width) * 0.05);
    margin-right: calc(var(--considered-screen-width) * 0.05);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 0px;
}

#Seta-Fechamento-Seção-4{
    display: flex;
    fill: #fff;
    stroke: #fff;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: #790D25;
    width: 80px;
    box-shadow: 0px 1px 5px rgb(255, 255, 255);
}

#Botão-Instagram-Direct{
    display: none;
    width: 60px;
    justify-content: center;
    bottom: 160px;
    position: fixed;
    margin-left: calc((var(--considered-screen-width) * 0.95) - 60px);
}


/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////// Seção 1 a 4: Container Interno/ ///////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

.Subseção-Branco-Cinza{
    background: linear-gradient(180deg, #fff, #f2f2f2);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Cinza-Branco{
    background: linear-gradient(180deg, #f2f2f2, #fff);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Branco-Cinza-Branco{
    background: linear-gradient(180deg, #fff, #f2f2f2, #fff);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Preto{
    background: black;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Preto-Vermelho{
    background: linear-gradient(180deg, black, #790D25);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Vermelho-Branco{
    background: linear-gradient(180deg, #790D25, #fff);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Vermelho-Branco-Curta-1{
    background: linear-gradient(180deg, #790D25 0%, #fff 60%);
    padding-top: 30px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Vermelho-Branco-Curta-2{
    background: linear-gradient(180deg, #790D25 20%, #fff 100%);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: -1px;
}

.Subseção-Vermelho-Preto{
    background: linear-gradient(180deg, #790D25, black);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Subseção-Vermelho{
    background: #790D25;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -1px;
}

.Sub-Subseção-Branco-Cinza{
    background: linear-gradient(180deg, #fff, #f2f2f2);
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: calc(var(--considered-screen-width) * 0.90);
    border-radius: 20px;
}

.Texto-Interno-Vermelho{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.Sub-Texto-Interno-Vermelho{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.Sub-Texto-Interno-Médio-Vermelho{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

.Sub-Texto-Interno-Grande-Vermelho{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI Light';
}

.Sub-Texto-Interno-Pequeno-Vermelho{
    color: #790D25;
    width: calc(var(--considered-screen-width) * 0.80);
    font-size: 13px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    font-family: 'Segoe UI';
}

.Texto-Interno-Branco{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

.Título-Interno-Branco{
    color: #fff;
    width: calc(var(--considered-screen-width) * 0.90);
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Segoe UI';
}

.Imagem-Interna-Completa{
    width: calc(var(--considered-screen-width) * 1.00);
    margin-bottom: -5px;
}

.Título-Subseção-Cadastro{
    text-align: center;
    color: #790D25;
    font-size: 24px;
    padding-top: 30px;
    margin-bottom: 10px;
}

.Texto-Subseção-Cadastro{
    color: #790D25;
    width: 90%;
    font-size: 18px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}


/*/////////////////////////////////////////////////////////////////////////////////////////
////////////////////// Espaço-Final-Container-Botão-Cadastro //////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Espaço-Final-Container-Botão-Cadastro{
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
}


/*/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////// Container-Botão-Cadastro //////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Container-Botão-Cadastro{
    display: block;
    height: 150px;
    border-radius: 50px 50px 0px 0px;
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
    padding-top: 10px;
    padding-bottom: 20px;
    position: fixed;
    bottom: 0px;
}

#Explicação-Cadastro{
    display: block;
    color: #790D25;
    width: 85%;
    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#Botão-Cadastro{
    display: block;
    height: 60px;
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    background-color: #0aa15b;
}