*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// Seção-Principal /////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção-Principal{
    background: linear-gradient(135deg,#000000 0%, #4a0816 50%);
    padding-top: 40px;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

#Container-Geral{
    position: relative;
    z-index: 1;
    text-align: center;
}

#Logo-Machado-Conecta{
    height: 80px;
    user-select: none;
    vertical-align: bottom;
    margin-bottom: 20px;
}

.Containers-Externos{
    background: linear-gradient(45deg, #ffffff 0%, #dedede 100%);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    text-align: left;
    border-radius: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none; 
}

.Títulos-Containers-Externos{
    color: #4a0816;
    font-size: 20px;
}

#Container-Interno-01{
    background: linear-gradient(45deg, #ffffff 0%, #dedede 100%);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 40px;
    text-align: left;
    border-radius: 20px;
}

.Títulos {
    font-size: 18px;
    background-color: #707070;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 3px;
    padding-bottom: 4px;
}

.Textos-Explicativos{
    color: #4a0816;
    font-size: 18px;
    margin-bottom: 10px;
}

.Observações{
    color: #4a0816;
    font-size: 15px;
    padding-top: 5px;
}

#Container-Interno-02 {
    background: linear-gradient(45deg, #ffffff 0%, #dedede 100%);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    text-align: left;
    border-radius: 20px;
}

#Título-Especial {
    font-size: 30px;
    background-color: #c8002b;
    color: #fff;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 12px;
    user-select: none;
}

#Formulário {
    background-color: #dedede;
    width: 550px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
}

#Título-Formulário {
    font-size: 18px;
    color: #4a0816;
    text-align: center;
    margin-bottom: 15px;
    user-select: none;
    font-weight: 500;
}

.Subtítulos-Formulário{
    font-size: 18px;
    color: #4a0816;
    user-select: none;
    font-weight: 400;
    margin-bottom: 15px;
}

.Cabeçalhos {
    font-size: 16px;
    color: #4a0816;
    margin-bottom: 5px;
    user-select: none;
    font-weight: 300;
}

.Campos-de-Preenchimento-Fechados {
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #6a6a6a;
    font-size: 15px;
    background-color: #b6b6b6;
    border-radius: 5px;
    border: 0px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
    user-select: none;
}

.Campos-de-Preenchimento-Abertos{
    width: 100%;
    height: 30px;
    margin-bottom: 15px;
    padding-left: 10px;
    color: #000000;
    font-size: 15px;
    background-color: #c8c8c8;
    border-radius: 5px;
    border: 0px;
    display: flex;
    align-items: center;
}

.Divisórias-Formulário{
    border: 1px solid #4a0816;
    margin-top: 20px;
    margin-bottom: 15px;
}

#Botão-Cadastro-Recomendante {
    background-color: #0aa15b;
    color: #ffffff;
    font-size: 14px;
    height: 40px;
    width: 130px;
    border-radius: 10px;
    border: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 1);
    cursor: pointer;
    user-select: none;
}

#Texto-Rodapé{
    height: 40px;
    color: #fff;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

#Esfera{
    position: absolute;
    bottom: 0;
    right: 0;
    width: clamp(250px, 30vw, 500px);
    z-index: 0;
}