*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Configura a página para Desktops. ////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////// Seção //////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção{
    background: linear-gradient(135deg, #4a0816, #000000);
    text-align: center;
    padding-top: 40px;
}

#Logo-Machado{
    height: 40px;
    user-select: none;
    vertical-align: bottom;
}

#Container-Formulário{
    align-content: center;
    text-align: center;
    min-height: calc(100vh - 120px);
    padding-top: 20px;
    padding-bottom: 20px;
}

#Formulário{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#Manchete-Formulário{
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
    user-select: none;
}

.Avisos-Iniciais{
    color: #fff;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 17px;
    user-select: none;
}

.Containers-Palavras-Passe{
    color: #fff;
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.Palavras-Passe{
    margin-left: 10px;
    height: 25px;
    padding-left: 5px;
    font-size: 15px;
    width: 100px;
}

.Alertas-Palavras-Passe {
    display: none;
    justify-content: center;
    color: red;
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 13px;
}

#Botão-Li-e-Concordo{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4a0816;
    color: #fff;
    font-size: 15px;
    height: 40px;
    width: 150px;
    align-items: center;
    border-radius: 10px;
    border-width: 0px;
    user-select: none;
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

#Botão-Li-e-Concordo:hover {
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

#Texto-Rodapé{
    height: 40px;
    color: #fff;
    font-size: 12px;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}