*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

:root {
    --considered-screen-width: 100vw;
    --considered-margin-left: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Configura a página para Desktops. ////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 431px) {
    
    :root {
        --considered-screen-width: 430px;
        --considered-margin-left: calc(50vw - (var(--considered-screen-width)/2));
    }

}


/*/////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// Seção_Cadastro /////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Seção_Cadastro{
    padding-top: 60px;
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
    padding-bottom: 80px;
    min-height: 100vh;
}

#Ivy-Escola-de-Gestão{
    height: auto;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#Container-Cadastro{
    height: auto;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: rgb(58, 58, 58);
}

#Lista_de_Espera{
    font-size:28px;
    color: #790d26;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#Instruções_Iniciais{
    font-size:18px;
    width: 95%;
    margin-left: 2.5%;
    color: #790d26;
    text-align: center;
    margin-bottom: 30px;
}

.Títulos_de_Preenchimento{
    font-size:16px;
    margin-top: 20px;
}

.Subtítulos_de_Preenchimento{
    font-size: 14px;
    margin-top: 5px;
}

.Campos_de_Preenchimento_Grandes{
    width: 100%;
    display: block;
    padding: 8px;
    margin-top:5px;
    margin-bottom: 0px;
    font-size: 16px;
    border: 1px solid rgb(146, 146, 146);
    border-radius: 5px;
}

#Receber_Convite{
    height: 60px;
    width: 90%;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 1);
    background-color: #056839;
}

#Aviso_Processando{
    display: none;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

#Aviso_Email_Inválido{
    color: #790d26;
    display: none;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
}
