*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

:root {
    --considered-screen-width: 100vw;
    --considered-margin-left: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Configura a página para Desktops. ////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

@media (min-width: 431px) {
    
    :root {
        --considered-screen-width: 430px;
        --considered-margin-left: calc(50vw - (var(--considered-screen-width)/2));
    }

}


/*/////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////// Seção_Cadastro /////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Sessão_Única{
    padding-top: 80px;
    background: linear-gradient(165deg, #fff, #ddd);
    width: var(--considered-screen-width);
    margin-left: var(--considered-margin-left);
    padding-bottom: 80px;
}

#Manchete{
    font-size:28px;
    color: #790d26;
    text-align: center;
    margin-bottom: 20px;
}

#Instruções{
    font-size:16px;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #790d26;
    text-align: center;
    margin-bottom: 40px;
}

#Canal-Transmissão{
    height: auto;
    width: 85%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

#Ivy-Escola-de-Gestão{
    height: auto;
    width: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
