*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

/*/////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////// Seção-Principal /////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////*/

#Sessão-Principal{
    display: flex;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #4a0816, #000000);
    justify-content: center;
    align-items: center;
}

#Container-Logo-Machado-e-Aviso{
    display: block;
    text-align: center;
    width: 400px;
}

#Logo-Machado{
    height: auto;
    width: 300px;
    margin-bottom: 20px;
}

#Aviso{
    font-size: 18px;
    color: #fff;
}